.chroma {
  background-color: unset;
}

::selection {
    background: #ffb7b7; /* Background color of selected text */
    color: #000000; /* Color of the selected text itself */
}

/* For Firefox, which sometimes requires a separate rule */
::-moz-selection {
    background: #ffb7b7;
    color: #000000;
}

/* Body Text (Inter) */
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Code Blocks (JetBrains Mono) */
code, kbd, pre, samp {
    font-family: 'JetBrains Mono', monospace;
}

.projects-grid .card {
  margin: 1rem;
  transition: transform 0.2s;
}

.projects-grid .card:hover {
  transform: translateY(-5px);
}

mark {
    /* background-color: #fbbf24; */
        background-color: #737301;

}